header.websiteTitle {

    font-size: 60px;
    text-align: center;

}

body {

    background-color: blanchedalmond !important;
}

body * {
    margin-top: 2px;
    margin-bottom: 2px;
}

.mediumText {

    font-size: 20px;
    text-align: center;

}

.center {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#bottomRight {

    position:fixed;
    right:0;
    bottom:0;

}

th {

    background-color: lightcoral;

}

tr:nth-child(even) {

    background-color:whitesmoke;

}

tr:nth-child(odd) {

    background-color:cornsilk;
    
}


td {

    text-align: center;
    border-color: lemonchiffon;
    border-width: 3px;
    padding: 12px;

}

table {
    width: 100%;
    table-layout: fixed;
    border: 4px solid darkorange;
}


table tr > * {
    width: 1%; /* Let browser divide space equally */
}


.albumGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    padding: 24px;
}

.albumGrid div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.albumGrid > div img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.tierList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.tierRow {
    display: flex;
    align-items: stretch;
    width: 100%; /* Ensure full row width */
}

.tierLabel {
    width: 9.09%; /* match one grid column */
    aspect-ratio: 1 / 1; /* makes it square like albumCard */
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 1rem;

    display: flex;
    align-items: center;     /* vertical centering */
    justify-content: center; /* horizontal centering */
    background-color: burlywood;

}



.tierGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9.09%, 1fr));
    gap: 0.5rem;
    width: 100%; /* Fill available space */
}


.tierGrid > * {
    aspect-ratio: 1 / 1;
}


.tierGrid:empty::before {
    content: "";
    display: block;
    padding-top: 100%; /* matches aspect-ratio: 1 / 1 */
}

.albumCard {
    aspect-ratio: 1 / 1;
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.albumCard img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.albumHoverInfo {
    visibility: hidden;
    background-color: white;
    text-align: center;
    padding: 4px;
    position:absolute;
    z-index: 1;
}

.albumCard:hover .albumHoverInfo {
    visibility: visible;
}